.row{
    display: flex;
    justify-content: center;
    padding:0.1333rem 0;
    font-size:0.64rem;
}

.content{
    font-family:'Microsoft YaHei';
    font-size:0.4rem;
    display:block;
    width:9.0667rem;
    height:4rem;
    text-indent: 0.2133rem;
    border-radius: 0.0533rem;
    padding:0.1333rem 0;
    resize:none;
    border:0.0267rem solid #ccc;
}
.contact{
    font-family:'Microsoft YaHei';
    font-size:0.4rem;
    width:9.0667rem;
    height:0.8rem;
    text-indent: 0.2133rem;
    border-radius: 0.0533rem;
    border:0.0267rem solid #ccc;
}

.mint-toast-text{
    font-size: 0.4267rem;
}
.aboutBox{text-align: center;margin-top:0.6667rem;}
.aboutBox .about{
    font-size: 0.32rem;
    color:#666;
    line-height: 0.6667rem;
}